
/*主体*/
/* body{
	width: 1902px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	overflow-x: hidden;
} */
.content{
	position: relative;
	width: 1200px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}
*{
	padding: 0px;
	margin:0px;
}
h2{
	font-weight: normal;
}
ul{
	list-style-type: none;
}
li{
	display: inline;
}
.table{
	border-collapse: collapse;
}
/********************广告*************************/
.nav{
	height: 30px;
	width: 100%;

}
.nav li{
	float: left;
	line-height: 30px;
}
.nav a{
	font-size: 12px;
	padding: 0 7px;
	display: inline-block;
}
.nav label{
	border-right: 1px solid lightgray;
	margin-top: 12px;
	height: 10px;
	float: left;
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid \9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	margin-bottom: 2.5px;
}
.shoppingCar a{
	padding-left: 28px;
	background: url(../img/icon.png) 6px 7px no-repeat;
	overflow: hidden;
}
a{text-decoration: none;}
.links-default a:link{color: gray}
.links-default a:visited{color: gray}
.links-default a:hover{color: #CD0000}
.links-default a:active{color: #CD0000}
/*****************************导航条********************************/
.navbar{
	height: 90px;
}
.navbar *{
	float: left;
}
.navbar img{
	margin:10px 20px auto 7px;
}
.navbar label{
	border-right: 1px solid gray;
	height: 20px;
	float: left;
	margin: 25px 0px 0px -7px;
}
.navbar ul{
	height: 70px;
	margin-left: 5px;
}
.navbar ul a{
	font-size: 17px;
	color: black;
}
.navbar ul a:hover{
	border-bottom: 2px solid #CD0000;

}
.navbar li{
	line-height: 40px;
	margin: 15px 10px 0px 10px;
}
.navbar input{
	border:1px solid lightgray;
	width: 280px;
	height: 2.5em;
	margin-left: 150px;
	border-radius: 3px;
	padding-left: 5px;
	margin-top: 20px;
}
.searchIcon{
	position: absolute;
	left: 1160px;
	top: 65px;
	height: 20px;
	width: 20px;
	background: url(../img/icon.png) 0px -25px no-repeat;
}
.banner{
	width: 100%;
	position: relative;
	overflow: hidden;
}

.dropdown{
	position: absolute;
}
.dropdown-content{
	width: 100%;
	height: 260px;
	background-color: white;
	border-top: 1px solid lightgray;
	display: none;
} 
.dropdown-content table{
	border-collapse: collapse;
	width: 1200px;
	height: 260px;
	margin-left: 351px;
	position: absolute;
	overflow: hidden;
	display: none;
}
.dropdown-content table a{
	font-size: 14px;
	color: black;
}
.dropdown-content table tr:nth-child(1){
	height: 30px;
}
.dropdown-content table tr:nth-child(2){
	text-align: center;
}
.dropdown-content table ul li{
	margin:0px 10px;
}
.banner-pop{
	height: 90px;		
	display: none;		
}
.banner .carousel{
	height: 410px;
	float: left;
}
.btn-status{
	position: absolute;
	left: 870px;
	bottom: 10px;
	height: 20px;
	letter-spacing: 6px;
	padding: 0px 5px;
}
.btn-status span{
	display: inline-block;
	height: 13px;
	width: 13px;
	border-radius: 50%;
	border: 1px solid white;
}
.active{
	background-color: white;
}


.table-container{
	text-align: center;
	margin-top: 50px;
	overflow: hidden;
	/*border:1px solid black;*/
}
.table-container table{
	margin-top: 20px;
}
.pieces-first{
	height:300px;
}
.pieces-second img{
	margin-left: -2px;
	margin-right: 20px;
}
.pieces-first td{
	border:1px solid lightgray;
}
.phoneSeries{
	margin-top: 15px;
}
.phoneSeries li{
	margin:10px;		
}
.phone img{
	margin-left: -2px;
	margin-right: 10px;
}
.btn-top{
	position: fixed;
	top: 780px;
	left: 1850px;
	height: 50px;
	width: 50px;
	display: none;
}
footer{
	margin-top: 50px;
}
footer,footer table{
	background-color: #F2F2F2;
}
.table-footer{
	margin-top: 50px;
	width: 1200px;
	margin: 0px auto;
	border-bottom: 1px solid lightgray;
	
}
.table-footer td{
	width: 150px;
}
.table-footer-navbar{
	height: 140px;
	text-align: left;
	border-bottom: 1px solid lightgray;
}
.table-footer-navbar img{
	height: 47px;
	width: 47px;
	margin-right: 10px;
}
.table-footer-navbar a{
	font-size: 18px;
	color: black;
	padding: 20px 0;
}
.table-footer-navbar td:nth-child(1) a label{
	background: url(../img/icon.png) 0px -151px no-repeat; 
}
.table-footer-navbar td:nth-child(2) a label{
	background: url(../img/icon.png) -94px -151px no-repeat; 
}
.table-footer-navbar td:nth-child(3) a label{
	background: url(../img/icon.png) -141px -151px no-repeat; 
}
.table-footer-navbar td:nth-child(4) a label{
	background: url(../img/icon.png) -47px -151px no-repeat; 
}
.table-footer-navbar label{
	display: inline-block;
	width: 47px;
	height: 47px;
	margin-right: 15px;
	vertical-align: -18px;

}
.table-footer-menu{
	height: 217px;
	vertical-align: top;
}
.table-footer-menu span{
	display: block;
	border-top: 2px solid #CD0000;
	width: 25px;
	margin: 25px 0 15px;
}
.table-footer-menu li{
	font-size: 12px;
	display: block;
	text-align: left;
	line-height: 1.8em;
}
.table-footer-menu ul{
	margin-top: 15px;
}
.customService{
	border:1px solid lightgray;
	border-radius: 5px;
	width: 120px;
	text-align: center;
	line-height: 30px;
	margin: 10px 0px 0px 15px;
	background-color: white;
}
.customService a{
	padding-left: 35px;
	color: #CD0000;
	background: url(../img/icon.png) -98px -20px no-repeat;
}
.table-footer-copyright{
	height: 101px;
	background-color: #E0E0E0;
}
.A{
	width: 1200px;
	padding:30px 0;
	margin:auto auto auto auto;
}
.A div{
	display: inline-block;
}
.a img{
	width: 79px;
	height: 16px;
}
.b{
	font-size: 12px;
	line-height: 1.8em;
	margin: 0px 70px 0px 40px;
}
.c a{
	height: 35px;
	width: 65px;
}
.c img{
	width: 70px;
	height: 24px;
	
}
.btn-back-top{
	position: fixed;
	right: 5px;
	top: 85%;
	display: none;
}
